/*style.css*/

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

.header{
    height: 10em;
    padding: 5em;
    font-size: 1em;
    background-image: url(/assets/imgs/banner-libros.jpg);
    background-size: cover;
    background-position: center;
}

.header h1{
    margin: 0px;
    font-weight: 400;
    color: whitesmoke;
}

.header p{
    color:whitesmoke;
}

.products{
    width: 80%;
    margin: auto;
}

.products td{
    width: 50%;
    padding: 2em;
}

.products img{
    width: 100%;
    border: solid 1px #ddd;
}

.footer{
    height: 3em;
    line-height: 3em;
    background-color: rgb(185, 112,41);
    color: white;
    text-align: center;
    font-weight: 900;
}